<% include ../header %>
	<div id="loading-page">
	    <script type="text/javascript">
	    	document.write('<div id="loading-container"><p id="loading-content">' +
	                       '<img src="img/loading.gif" alt=""><br><span style="color: #75715e;">Loading . . .</span></p></div>');
	    </script>
	</div>
	<div class="app-wrap">
		<header class="header">
			<img src="<%- profile_image %>">
			<h1 class="home-title">The Coffee Club</h1>
			<a href="/exit" class="button">
				<i class="fa fa-power-off"></i>
				Logout
			</a>
		</header>
		<section class="content">
			<table class="tablesaw" data-tablesaw-mode="stack">
				<thead>
					<tr>
						<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Date</th>
						<th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="title"><%- month %></td>
						<td><%- amount %></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Totals:</td>
						<td><%- coffees.length %></td>
					</tr>
				</tfoot>
			</table>
		</section>
		<nav class="nav">
			<a href="#add" id="btn-add-coffee">
				<i class="fa fa-plus"></i>
				Add
			</a>
			<a href="#guest" id="btn-add-guest">
				<i class="fa fa-user-plus"></i>
				Guest
			</a>
			<a href="/home">
				<i class="fa fa-home"></i>
				Home
			</a>
		</nav>
	</div>

	<!-- JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/tablesaw.js"></script>
	<script src="js/notie.js"></script>
	<script src="js/app.js"></script>
	<script>
		app.init('<%- _id %>');
	</script>
<% include ../footer %>